<div class="list-group">
    <a href="" class="list-group-item list-group-active">Tüm Kategoriler</a>
    <% catagories.forEach(function(catagory) { %>
        <a href="" class="list-group-item list-group-active"><%= catagory %></a>
    <% }) %>
</div>